body {
  font-family: "Lato", sans-serif;
  display: grid;
  grid-template-areas: "header" "top" "about" "work" "twitter" "shop" "mailing" "footer";
  grid-template-rows: -webkit-max-content -webkit-max-content minmax(465px, -webkit-max-content) -webkit-max-content minmax(470px, -webkit-max-content) -webkit-max-content minmax(470px, -webkit-max-content) minmax(250px, auto);
  grid-template-rows: max-content max-content minmax(465px, max-content) max-content minmax(470px, max-content) max-content minmax(470px, max-content) minmax(250px, auto);
  grid-template-columns: 1fr;
  justify-items: center;
}
body .header {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: header;
  position: absolute;
  top: 35px;
  display: grid;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 1;
}
body .header .menu__list {
  display: grid;
  align-items: center;
  justify-items: center;
  grid-template-columns: repeat(5, minmax(auto, 1fr));
}
body .header .menu__list .menu__item {
  position: relative;
  width: 100%;
  text-align: center;
  padding: 0 1.25rem;
}
body .header .menu__list .menu__item:first-child {
  text-align: left;
}
body .header .menu__list .menu__item:last-child {
  text-align: right;
}
body .header .menu__list .menu__item:nth-child(-n+2):not(:nth-child(2))::after {
  content: ".";
  position: absolute;
  top: -0.203125rem;
  right: -2px;
}
body .header .menu__list .menu__item:nth-last-child(-n+2):not(:nth-last-child(2))::before {
  content: ".";
  position: absolute;
  top: -0.203125rem;
  left: -2px;
}
body .header .menu__list .menu__item:hover {
  text-decoration: underline;
}
body .header .menu__list .menu__item .menu__link {
  font-size: 0.8125rem;
  line-height: 1.3;
  font-weight: 700;
  color: #4d4959;
  letter-spacing: 2px;
  text-transform: uppercase;
  text-decoration: none;
}
body .top {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: top;
  width: 100%;
  max-height: 800px;
  display: grid;
  justify-content: center;
}
@media screen and (min-width: 1600px) {
  body .top {
    min-height: 800px;
    max-height: 100%;
    background: url(../images/top.jpg) no-repeat;
    background-position-y: 25%;
    background-size: cover;
  }
  body .top .top__img {
    display: none;
  }
}
body .about {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: about;
  display: grid;
  grid-template-rows: repeat(3, -webkit-max-content);
  grid-template-rows: repeat(3, max-content);
  justify-content: center;
  justify-items: center;
  text-align: center;
  width: 100%;
  background: #f7f7f7;
  padding: 7.35rem 2rem;
}
body .about .about__icon {
  height: 43px;
  width: 52px;
  background: url("../img/about-icon.png") no-repeat;
}
body .about .about__title {
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 900;
  color: #353738;
  text-transform: uppercase;
  letter-spacing: 0.22rem;
  margin-top: 1.6em;
}
body .about .about__description {
  max-width: 1110px;
  padding-left: 35px;
  margin-top: 1.125em;
  font-size: 1.125rem;
  line-height: 2.125rem;
  font-weight: 400;
  color: #848789;
}
@media screen and (max-width: 1024px) {
  body .about .about__description {
    padding-left: 0;
  }
}
body .work {
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  grid-area: work;
  display: grid;
  grid-template-rows: repeat(3, minmax(-webkit-min-content, 600px));
  grid-template-rows: repeat(3, minmax(min-content, 600px));
  grid-template-columns: minmax(100%, 1600px);
}
body .work .bicycle {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}
body .work .bicycle .bicycle__imgBig,
body .work .bicycle .bicycle__imgSmall {
  background-size: cover;
  display: grid;
  justify-items: center;
  align-items: center;
}
body .work .bicycle .b-description {
  display: grid;
  grid-template-rows: 2fr 1fr;
  grid-template-columns: minmax(520px, 1fr);
  margin-top: 0;
}
body .work .bicycle .b-description .b-description__content {
  padding: 3.3rem 4rem;
  position: relative;
  display: grid;
  justify-items: center;
  text-align: center;
}
body .work .bicycle .b-description .b-description__content .b-description__logo-box {
  display: inline-grid;
  align-items: center;
}
body .work .bicycle .b-description .b-description__content .b-description__title {
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 900;
  color: #353738;
  letter-spacing: 0.215rem;
  text-transform: uppercase;
  margin-top: 10px;
}
body .work .bicycle .b-description .b-description__content .b-description__description {
  font-size: 1rem;
  line-height: 1.875rem;
  font-weight: 400;
  color: #848789;
  text-align: justify;
  max-height: 150px;
  overflow: hidden;
}
body .work .bicycle .b-description .b-description__content .b-description__line {
  display: block;
  height: 1px;
  width: 50px;
  background: #848789;
  align-self: end;
}
body .work .bicycle .b-description .b-description__f {
  position: relative;
}
body .work .bicycle .b-description .b-description__f .b-description__triangle {
  width: 22px;
  height: 10px;
  left: 48.15%;
  position: absolute;
}
body .work .bicycle .b-description .b-description__f .b-description__triangle::after {
  content: "";
  position: absolute;
  left: 0;
  border: 10px solid transparent;
  border-top: 10px solid #fff;
}
body .work .bicycle .b-description .b-description__f .b-description__f-img {
  width: 100%;
  height: 100%;
}
@media screen and (max-width: 768px) {
  body .work .bicycle .b-description {
    grid-template-columns: 1fr;
  }
}
body .work .bicycle#b-oliva .bicycle__imgBig {
  background: url("../images/oliva/oliva-big.jpg") no-repeat;
  grid-column-start: 1;
  grid-column-end: 3;
}
body .work .bicycle#laBoriosa .bicycle__imgBig {
  background: url("../images/laBoriosa/laBoriosa-big.jpg") no-repeat;
  grid-column-start: 2;
  grid-column-end: 4;
  order: 2;
}
body .work .bicycle#laBoriosa .b-description {
  grid-column-start: 1;
  grid-column-end: 2;
  order: 1;
}
body .work .bicycle#hulot .bicycle__imgSmall:nth-child(1) {
  background: url("../images/hulot/hulot-small-1.jpg") no-repeat;
  grid-column-start: 1;
  grid-column-end: 2;
  order: 1;
}
body .work .bicycle#hulot .bicycle__imgSmall:nth-child(2) {
  background: url("../images/hulot/hulot-small-2.jpg") center center no-repeat;
  grid-column-start: 3;
  grid-column-end: 4;
  margin: 0;
  order: 3;
}
body .work .bicycle#hulot .b-description {
  grid-column-start: 2;
  grid-column-end: 3;
  order: 2;
}
@media screen and (max-width: 1024px) {
  body .work .bicycle#hulot {
    grid-template-columns: repeat(2, 1fr);
  }
  body .work .bicycle#hulot .bicycle__imgSmall:nth-child(2) {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  body .work .bicycle {
    grid-template-columns: 1fr;
  }
  body .work .bicycle .bicycle__imgBig,
body .work .bicycle .bicycle__imgSmall {
    display: none;
  }
  body .work .bicycle#hulot .b-description {
    grid-column-start: 1;
  }
}
body .twitter {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: twitter;
  display: grid;
  justify-content: center;
  width: 100%;
  text-align: center;
  background: #f7f7f7;
  padding: 3.5rem 2rem 3.5rem;
}
body .twitter .twitter__list {
  max-width: 1080px;
  max-height: 325px;
  overflow: hidden;
}
body .twitter .twitter__list .twitter__item {
  display: grid;
  justify-items: center;
  align-content: baseline;
  padding: 4.5rem 0;
}
body .twitter .twitter__list .twitter__item .twitter__title {
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 900;
  color: #353738;
  letter-spacing: 1px;
  word-spacing: 5px;
  margin-top: 30px;
}
body .twitter .twitter__list .twitter__item .twitter__title .title__description {
  font-size: 1.125rem;
  line-height: 1.3;
  font-weight: 400;
  color: #848789;
  letter-spacing: 1px;
  word-spacing: 5px;
  font-style: italic;
}
body .twitter .twitter__list .twitter__item .twitter__description {
  font-size: 1.5rem;
  line-height: 2.125rem;
  font-weight: 400;
  color: #848789;
  font-style: italic;
  margin-top: 15px;
  padding-left: 40px;
  word-spacing: -0.1rem;
}
@media screen and (max-width: 1024px) {
  body .twitter .twitter__list .twitter__item .twitter__description {
    padding-left: 0;
  }
}
body .twitter .carousel-items {
  display: inline-grid;
  align-items: center;
  justify-content: center;
  height: 100%;
}
body .twitter .carousel-items .carousel__list {
  display: inline-grid;
  grid-template-rows: 1fr;
  grid-template-columns: repeat(3, 1fr);
}
body .twitter .carousel-items .carousel__list .carousel__item {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  border: 1px solid #a9afb3;
  margin: 5px;
}
body .twitter .carousel-items .carousel__list .carousel__item.select-item {
  background: #a9afb3;
}
body .twitter .carousel-items .carousel__list .carousel__item:hover {
  border: 1px solid #50565a;
  background: #50565a;
}
body .shop {
  -ms-grid-row: 6;
  -ms-grid-column: 1;
  grid-area: shop;
  display: grid;
  grid-template-rows: repeat(2, -webkit-max-content) 200px;
  grid-template-rows: repeat(2, max-content) 200px;
  grid-template-columns: repeat(6, 1fr);
  justify-content: center;
  align-items: stretch;
  width: 100%;
  max-width: 1600px;
  background: #282f35;
}
body .shop #shopItem-1 {
  grid-area: 1/1/2/2;
}
body .shop #shopItem-2 {
  grid-area: 1/2/2/3;
}
body .shop #shopItem-3 {
  grid-area: 2/1/3/3;
}
body .shop #shopItem-4 {
  grid-area: 1/3/3/4;
}
body .shop #shopItem-5 {
  grid-area: 1/4/3/5;
}
body .shop #shopItem-6 {
  grid-area: 1/5/2/7;
  display: grid;
  position: relative;
}
body .shop #shopItem-6 .shop__bg-item {
  display: grid;
  justify-items: center;
  align-content: center;
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(88, 165, 137, 0.8);
}
body .shop #shopItem-6 .shop__bg-item .shop__icon {
  width: 50px;
  height: 30px;
  background: url("../img/bicycle-icon.png") no-repeat;
}
body .shop #shopItem-6 .shop__bg-item .shop__text {
  font-size: 0.77rem;
  line-height: 1.3;
  font-weight: 900;
  color: #ffffff;
  letter-spacing: 4px;
  text-transform: uppercase;
  margin-top: 10px;
}
body .shop #shopItem-7 {
  grid-area: 2/5/3/6;
}
body .shop #shopItem-8 {
  grid-area: 2/6/3/7;
}
body .shop #shopItem-9 {
  grid-area: 3/1/4/7;
}
body .shop .shop__img {
  height: 100%;
}
body .shop .shop-f {
  display: grid;
  justify-items: center;
  align-items: center;
}
body .shop .shop-f .shop-f__btn {
  font-size: 0.77rem;
  line-height: 1.3;
  font-weight: 700;
  color: #f7f7f7;
  letter-spacing: 3px;
  text-transform: uppercase;
  width: 300px;
  height: 50px;
  border: 1px solid #f7f7f7;
  background: transparent;
}
body .shop .shop-f .shop-f__btn:hover {
  color: #282f35;
  background: #f7f7f7;
}
body .mailing {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: mailing;
  display: grid;
  justify-content: center;
  align-content: space-between;
  text-align: center;
  width: 100%;
  padding: 110px 20px;
}
body .mailing .mailing__logo {
  justify-self: center;
  width: 95px;
  height: 85px;
  background: url("../img/logo.png");
}
body .mailing .mailing__title {
  font-size: 1.5rem;
  line-height: 2.125rem;
  font-weight: 400;
  color: #848789;
  font-style: italic;
  margin: 20px 0;
}
body .mailing .mailing__inputBtn {
  display: grid;
  grid-template-columns: minmax(auto, 410px) minmax(auto, 125px);
  place-items: center;
}
body .mailing .mailing__inputBtn .mailing__input {
  font-size: 1.25rem;
  line-height: 1.5rem;
  font-weight: 400;
  color: #848789;
  font-style: italic;
  width: 100%;
  height: 70px;
  margin-right: 10px;
  padding: 25px;
}
body .mailing .mailing__inputBtn .mailing__btn {
  font-size: 1.5rem;
  line-height: 1.5rem;
  font-weight: 300;
  color: #ffffff;
  width: 100%;
  height: 70px;
  border: none;
  background: #58a589;
}
body .mailing .mailing__inputBtn .mailing__btn:hover {
  border: 1px solid #58a589;
  font-weight: 900;
  color: #58a589;
  background: #ffffff;
}
@media screen and (max-width: 600px) {
  body .mailing {
    justify-content: initial;
  }
  body .mailing .mailing__inputBtn {
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: 100%;
  }
  body .mailing .mailing__inputBtn .mailing__input {
    margin: 0;
  }
}
body .footer {
  -ms-grid-row: 8;
  -ms-grid-column: 1;
  grid-area: footer;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  width: 100%;
  padding: 40px;
  background: #f7f7f7;
}
body .footer .f-address {
  justify-self: end;
  font-size: 0.77rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #848789;
  letter-spacing: 0.035rem;
}
body .footer .f-address .f-address__title {
  font-size: 1rem;
  font-style: normal;
  letter-spacing: 0;
}
body .footer .f-social__list {
  display: grid;
  grid-auto-flow: column;
}
body .footer .f-social__list .f-social__item:not(:last-child) {
  margin-right: 15px;
}
body .footer .f-copyright {
  justify-self: start;
  font-size: 0.77rem;
  line-height: 1.125rem;
  font-weight: 400;
  color: #848789;
  font-style: italic;
  padding-left: 75px;
}
@media screen and (max-width: 768px) {
  body .footer {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
  }
  body .footer .f-social__list {
    align-self: center;
  }
  body .footer .f-copyright {
    grid-area: 2/1/3/3;
    justify-self: center;
    padding-left: 0;
  }
}
@media screen and (max-width: 425px) {
  body .footer {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(3, 1fr);
  }
  body .footer .f-address {
    justify-self: start;
  }
  body .footer .f-social__list {
    align-self: end;
  }
  body .footer .f-copyright {
    grid-area: initial;
  }
}