@import "variables";
@import "mixins";


body {
  font-family: $fontFamily;

  display: grid;
  grid-template-areas: "header" "top" "about" "work" "twitter" "shop" "mailing" "footer";
  grid-template-rows: $hHeader $hTop $hAbout $hWork $hTwitter $hShop $hMailing $hFooter;
  grid-template-columns: 1fr;
  justify-items: center;

  .header{
    grid-area: header;
    position: absolute;
    top: 35px;
    display: grid;
    justify-content: center;
    align-items: center;
    width: 100%;
    z-index: 1;

    .menu__list {
      display: grid;
      align-items: center;
      justify-items: center;
      grid-template-columns: repeat(5, minmax(auto, 1fr));

      .menu__item {
        position: relative;
        width: 100%;
        text-align: center;
        padding: 0 1.25rem;
        &:first-child{
          text-align: left;
        }
        &:last-child{
          text-align: right;
        }
        &:nth-child(-n+#{$elBeforeLogo}):not(:nth-child(#{$elBeforeLogo}))::after{
          content: ".";
          position: absolute;
          top: (-$fzMenu/4);
          right: -2px;
        }
        &:nth-last-child(-n+#{$elAfterLogo}):not(:nth-last-child(#{$elAfterLogo}))::before{
          content: ".";
          position: absolute;
          top: (-$fzMenu/4);
          left: -2px;
        }

        &:hover{
          text-decoration: underline;
        }
        .menu__link {
          @include text($fzMenu, 1.3, 700, $clrMenu);
          letter-spacing: 2px;
          text-transform: uppercase;
          text-decoration: none;
        }
      }
    }
  }
  .top {
    grid-area: top;
    width: 100%;
    max-height: 800px;
    display: grid;
    justify-content: center;

    @media screen and (min-width: 1600px){
      min-height: 800px;
      max-height: 100%;
      background: url(../images/top.jpg) no-repeat;
      background-position-y: 25%;
      background-size: cover;

      .top__img{
        display: none;
      }
    }
  }
  .about {
    grid-area: about;
    display: grid;
    grid-template-rows: repeat(3, max-content);
    justify-content: center;
    justify-items: center;
    text-align: center;
    width: 100%;
    background: $bgSeparate;
    padding: 7.35rem 2rem;

    .about__icon{
      height: 43px;
      width: 52px;
      background: url("../img/about-icon.png") no-repeat;
    }
    .about__title{
      @include text($fzTitle, 1.3, 900, $clrTitle);
      text-transform: uppercase;
      letter-spacing: .22rem;
      margin-top: 1.6em;
    }
    .about__description{
      max-width: 1110px;
      padding-left: 35px;
      margin-top: 1.125em;
      @include text($fzTitle, $lhDescription, 400, $clrDescription);

      @media screen and (max-width: 1024px){
        padding-left: 0;
      }
    }
  }
  .work {
    grid-area: work;
    display: grid;
    grid-template-rows: repeat(#{$countArticle}, $hArticle);
    grid-template-columns: minmax(100%, 1600px);;

    .bicycle{
      display: grid;
      grid-template-rows: 1fr;
      grid-template-columns: repeat(3, 1fr);

      .bicycle__imgBig,
      .bicycle__imgSmall{
        background-size: cover;
        display: grid;
        justify-items: center;
        align-items: center;
      }
      .b-description{
        display: grid;
        grid-template-rows: 2fr 1fr;
        grid-template-columns: minmax(520px, 1fr);
        margin-top: 0;

        .b-description__content{
          padding: 3.3rem 4rem;
          position: relative;
          display: grid;
          justify-items: center;
          text-align: center;

          .b-description__logo-box{
            display: inline-grid;
            align-items: center;
          }
          .b-description__title{
            @include text(1.125rem, 1.3, 900, $clrTitle);
            letter-spacing: 0.215rem;
            text-transform: uppercase;
            margin-top: 10px;
          }
          .b-description__description{
            @include text(1rem, 1.875rem, 400, $clrDescription);
            text-align: justify;
            max-height: 150px;
            overflow: hidden;
          }
          .b-description__line{
            display: block;
            height: 1px;
            width: 50px;
            background: $clrDescription;
            align-self: end;
          }
        }
        .b-description__f{
          position: relative;

          .b-description__triangle{
            width: 22px;
            height: 10px;
            left: 48.15%;
            position: absolute;

            &::after {
              content: '';
              position: absolute;
              left: 0;
              border: 10px solid transparent;
              border-top: 10px solid #fff;
            }
          }
          .b-description__f-img{
            width: 100%;
            height: 100%;
          }
        }
        @media screen and (max-width: 768px){
          grid-template-columns: 1fr;
        }
      }
      &#b-oliva{
        .bicycle__imgBig{
          background: url("../images/oliva/oliva-big.jpg")  no-repeat;
          @include imgArticle(1, 3);
        }
      }
      &#laBoriosa{
        .bicycle__imgBig{
          background: url("../images/laBoriosa/laBoriosa-big.jpg") no-repeat;
          @include imgArticle(2, 4);
          order: 2;
        }
        .b-description{
          @include imgArticle(1, 2);
          order: 1;
        }
      }
      &#hulot{
        .bicycle__imgSmall:nth-child(1){
          background: url("../images/hulot/hulot-small-1.jpg") no-repeat;
          @include imgArticle(1, 2);
          order: 1;
        }
        .bicycle__imgSmall:nth-child(2){
          background: url("../images/hulot/hulot-small-2.jpg") center center no-repeat;
          @include imgArticle(3, 4);
          margin: 0;
          order: 3;
        }
        .b-description{
          @include imgArticle(2, 3);
          order: 2;
        }
        @media screen and (max-width: 1024px){
          grid-template-columns: repeat(2, 1fr);

          .bicycle__imgSmall:nth-child(2){
            display: none;
          }
        }
      }
      @media screen and (max-width: 768px){
        grid-template-columns: 1fr;

        .bicycle__imgBig,
        .bicycle__imgSmall{
          display: none;
        }
        &#hulot {
          .b-description {
            grid-column-start: 1;
          }
        }
      }
    }
  }
  .twitter {
    grid-area: twitter;
    display: grid;
    justify-content: center;
    width: 100%;
    text-align: center;
    background: $bgSeparate;
    padding: 3.5rem 2rem 3.5rem;

    .twitter__list{
      max-width: 1080px;
      max-height: 325px;
      overflow: hidden;

      .twitter__item{
        display: grid;
        justify-items: center;
        align-content: baseline;
        padding: 4.5rem 0;

        .twitter__title{
          @include text($fzTitle, 1.3, 900, $clrTitle);
          letter-spacing: 1px;
          word-spacing: 5px;
          margin-top: 30px;

          .title__description{
            @include text($fzTitle, 1.3, 400, $clrDescription);
            letter-spacing: 1px;
            word-spacing: 5px;
            font-style: italic;
          }
        }
        .twitter__description{
          @include text($fzDescriptionTwitter, $lhDescription, 400, $clrDescription);
          font-style: italic;
          margin-top: 15px;
          padding-left: 40px;
          word-spacing: -.1rem;

          @media screen and (max-width: 1024px){
            padding-left: 0;
          }
        }
      }
    }
    .carousel-items{
      display: inline-grid;
      align-items: center;
      justify-content: center;
      height: 100%;

      .carousel__list{
        display: inline-grid;
        grid-template-rows: 1fr;
        grid-template-columns: repeat(#{$countTwitter}, 1fr);

        .carousel__item{
          width: 10px;
          height: 10px;
          border-radius: 50%;
          border: 1px solid $bgTwitterCarousel;
          margin: 5px;

          &.select-item{
            background: $bgTwitterCarousel;
          }
          &:hover{
            border: 1px solid darken($bgTwitterCarousel, 35%);
            background: darken($bgTwitterCarousel, 35%);
          }
        }
      }
    }
  }
  .shop {
    grid-area: shop;
    display: grid;
    grid-template-rows: repeat(2, max-content) 200px;
    grid-template-columns: repeat(6, 1fr);
    justify-content: center;
    align-items: stretch;
    width: 100%;
    max-width: 1600px;
    background: $bgShop;

    #shopItem-1{grid-area: 1/1/2/2;}
    #shopItem-2{grid-area: 1/2/2/3;}
    #shopItem-3{grid-area: 2/1/3/3;}
    #shopItem-4{grid-area: 1/3/3/4;}
    #shopItem-5{grid-area: 1/4/3/5;}
    #shopItem-6{grid-area: 1/5/2/7;
      display: grid;
      position: relative;
      .shop__bg-item{
        display: grid;
        justify-items: center;
        align-content: center;
        position: absolute;
        width: 100%;
        height: 100%;
        background: $bgShopItem;

        .shop__icon{
          width: 51px;
          height: 30px;
          background: url("../img/bicycle-icon.png") no-repeat;
        }
        .shop__text{
          @include text($fzShopIcon, 1.3, 900, $clrShopIcon);
          letter-spacing: 4px;
          text-transform: uppercase;
          margin-top: 10px;
        }
      }
    }
    #shopItem-7{grid-area: 2/5/3/6;}
    #shopItem-8{grid-area: 2/6/3/7;}
    #shopItem-9{grid-area: 3/1/4/7;}
    .shop__img{height: 100%;}
    .shop-f{
      display: grid;
      justify-items: center;
      align-items: center;
      .shop-f__btn{
        @include text($fzBtn, 1.3, 700, $clrBtn);
        letter-spacing: 3px;
        text-transform: uppercase;
        width: 300px;
        height: 50px;
        border: 1px solid $clrBtn;
        background: transparent;

        &:hover{
          color: $bgShop;
          background: $clrBtn;
        }
      }
    }
  }
  .mailing {
    grid-area: mailing;
  }
  .footer{
    grid-area: footer;
    width: 100%;
    background: $bgSeparate;
  }
}