$fontFamily: 'Lato', sans-serif;

//font-size
$fzMenu: 0.8125rem; //13pt
$fzTitle: 1.125rem; //18pt
$fzDescription: 1.125rem; //18pt
$fzDescriptionTwitter: 1.5rem; //24pt
$fzShopIcon: 0.77rem; //14pt
$fzBtn: 0.77rem; //14pt

//line-height
$lhDescription: 2.125rem;

//color text
$clrMenu: #4d4959;
$clrTitle: #353738;
$clrDescription: #848789;
$clrShopIcon: #ffffff;
$clrBtn: #f7f7f7;

//color bg
$bgMain: #ffffff;
$bgSeparate: #f7f7f7;
$bgShop: #282f35;

$bgTwitterCarousel: #a9afb3;
$bgShopItem: rgba(88,165,137, 80%);

// height for grid-item
//$hHeader: 155px;
$hHeader: max-content;
$hTop: max-content;
$hAbout: minmax(465px, max-content);
$hWork: max-content;
$hTwitter: minmax(470px, max-content);
$hShop: max-content;
$hArticle: minmax(min-content, 600px);
//$hArticle:  max-content;
$hMailing: minmax(470px, max-content);
$hFooter: minmax(250px, max-content);

//other
$countArticle: 3;
$countTwitter: 3;
$elBeforeLogo: 2;
$elAfterLogo: 2;

